<h1><%= @restaurant.name %></h1>
<div class="d-flex justify-content-between">
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
</div>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item"><%= "#{review.content} / #{'*' * review.rating}" %></li>
  <% end %>
</ul>
<hr>
<!-- <br> -->
<% 
=begin %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary w-100" %>
<% 
=end %>
<h3>Add a review</h3>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :select, collection: [0, 1, 2, 3, 4, 5] %>
  <%= f.button :submit, class: "btn btn-primary w-100" %>
<% end %>
<hr>
<%= link_to "Back to the list", restaurants_path, class: "btn btn-secondary" %>